@model DogiWiki2.Models.IndexModel
@{
    ViewBag.Title = "DogiWiki";
}

<div class="body-content body-navigation">
    <center>
        <h3>DogiWiki</h3>
        <h5>Upload a picture of your dog, or start scrolling!</h5>
        <a href="~/Home/Upload">Upload</a>
        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

            <label style="padding-top: 15px">Filter by breed: </label>
            @Html.DropDownListFor(model => model.Filter, new SelectList(DogiWiki2.Models.IndexModel.FilterList))
            <br />
            <label style="padding-top: 15px">Sort by: </label>
            @Html.DropDownListFor(model => model.SortBy, new SelectList(DogiWiki2.Models.IndexModel.SortByList))

            <br />
            <input type="submit" value="Filter" />
        }
    </center>

</div>

<div class="body-content body-navigation">
    <center>
        <div>
            <img src="~/Images/e3349fbb-445d-4d91-8a24-2e70b83d33bd.jpeg"/>
            @{var doggos = ViewBag.Images; }
                @foreach(var dog in doggos)
                {
                    var splitList = dog.Split('%');
                    string name = splitList[0];
                    string description = splitList[1];
                    string filename = "~/Images/";
                    filename = filename + splitList[2];
                    filename = filename + ".jpeg";

                    <p>@filename</p>
                    <img src="@filename" alt="Doggo!"/>
                    <p><strong>@name</strong></p>
                    <p>@description</p>
                }
                    
        </div>
    </center>
</div>