@model DogiWiki2.Models.IndexModel
@{
    ViewBag.Title = "DogiWiki";
}

<div class="body-content body-navigation">
    <center>
        <h3>Welcome to DogiWiki</h3>
        <h4 style="margin-bottom:17px;"><em>Upload a picture of your dog, or start scrolling!</em></h4>
        <a class="uploadButton" href="~/Home/Upload">Upload</a>
        <div>
            @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {


                <label style="padding-top: 25px">Filter by breed:</label>
                @Html.DropDownListFor(model => model.Filter, new SelectList(DogiWiki2.Models.IndexModel.FilterList))

                <br />
                <label style="padding-top: 10px;padding-bottom:10px;">Sort by:</label>
                @Html.DropDownListFor(model => model.SortBy, new SelectList(DogiWiki2.Models.IndexModel.SortByList))

                <br />
                <input class="filterButton"type="submit" value="Filter" />
            }
        </div>
    </center>

</div>

<div class="body-content body-navigation">
    <center>
        <div style="max-width: 500px;margin: auto;padding-top:15px">

            @{var doggos = ViewBag.Images; }
            @{
                if (doggos != null)
                {
                    foreach (var dog in doggos)
                    {
                        string name = dog.Item1;
                        string description = "";
                        if (dog.Item2 != null)
                        {
                            description = dog.Item2;
                        }
                        string filename = "https://dogiwikistorage.blob.core.windows.net/images/" + dog.Item3;

                        <div>
                            <img src="@filename" alt="Doggo!" style="max-width:95%;max-height:82vh; border-radius:7px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)" />
                            <p style="text-align:left;padding-top:10px;padding-bottom:5px;width:100%"><strong>@name</strong><br /><em>@description</em></p>

                        </div>


                    }
                }
            }


        </div>
    </center>
</div>