<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" type="text/css" href="@VirtualPathUtility.ToAbsolute("~/Content/Site.css")" />
</head>
<body>
    <div class="mynav navbar navbar-inverse navbar-fixed-top"style="background-color:#ebddcb;border-width:0px;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle mynav" data-toggle="collapse" data-target=".navbar-collapse"style="border-width:0px;">
                    <span class="icon-bar"style="background-color:#142234"></span>
                    <span class="icon-bar"style="background-color:#142234"></span>
                    <span class="icon-bar"style="background-color:#142234"></span>
                </button>
                <div>
                    <a href="@Url.Action("Index","Home",null)">
                        <img src="@Url.Content("~/SiteImages/dognose.png")" style="max-height:50px" />
                    </a>
                </div>
                
                
            </div>
            <div class="mynav navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - DogiWiki</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>